@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    margin: auto;
}

#header {
    width: 100%;
    background-color: rgb(24, 24, 24);
    padding: 1em;
    display: flex;
}

#title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
